<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	<% if user_signed_in? %>
          #Thanks for joining
     <% else %>
	<p>
		<%= link_to "Log in", "/users/sign_in", class: "btn btn-default btn-lg" %>
    	<%= link_to "Sign up", "/users/sign_up", class: "btn btn-primary btn-lg" %>
	</p>
	<% end %>
</div>